* {
  margin: 0;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ffffff;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: Lato;
  padding: 0;
  background-image: url("/images/boston-background.jpg");
  background-size: 1920px 1080px;
}
#coming-soon {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
header, footer {
  display: block;
}
/* Custom page header */
.header {
  margin-bottom: 13px;
  background-color: #11FFDF;
  width: 100%;
  position: fixed;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
div.navbar-header {
  background-color: #11FFDF;
}
div.navbar {
  background-color: #11FFDF;
}
.navbar-brand {
  margin-left: 20px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #ffffff;
  background-color: #11FFDF;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 50px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
  position: relative;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#welcome-container {
  display: inline-block;
  margin-top: 250px;
  margin-right: 0 auto;
  margin-left: 0 auto;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  opacity: 0.8;
}
img.headshot {
  border-radius: 200px;
}
