* {
  margin: 0;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ffffff;
  color: #000;
  padding: 0.2em 0;
}

body {
  overflow-x: hidden;
  font-family: Lato;
  padding: 0;
  background-image: url("/images/boston-background.jpg");
  background-size: cover;
}
#coming-soon {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
header, footer {
  display: block;
}
/* Custom page header */
.header {
  margin-bottom: 13px;
  background-color: #11FFDF;
  width: 100%;
  position: fixed;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
div.navbar-header {
  background-color: #11FFDF;
}
div.navbar {
  background-color: #11FFDF;
}
.navbar-brand {
  margin-left: 20px;
}

/* Custom page footer */
.footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  color: #ffffff;
  background-color: #11FFDF;
  margin: 0 auto;
  text-align: center;
  padding-top: 15px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
  position: relative;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
#header-navbar {
  display: inline;
}
section#home-container,
section#project-container,
div#resume-container,
div#about-container,
#form-container {
  background-color: rgba(255, 255, 255, 0.8);
}
#project-container,
#resume-container {
  margin-top: 25px;
  margin-right: 0 auto;
  margin-left: 0 auto;
  background-color: #ffffff;
  border-radius: 5px;
  padding-bottom: 10px;
}
#resume-header {
  text-align: center;
  text-decoration: underline;
}
#project-picture-container {
  margin-left: 50px;
  padding-right: 20px;
}
#home-container {
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
  margin-right: 0 auto;
  margin-left: 0 auto;
  min-height: 208px;
  max-height: 208px;
  /*display: block;*/
  padding: 20px;
}
#about-container, #form-container {
  margin-top: 50px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  border-radius: 10px;
  padding-top: 10px;
  text-align: center;
}
div#headshot {
  width: 25%;
  margin-left: 0;
  float: left;
  /*display: block;*/
  padding: 0 .75rem;
}
img.headshot {
  max-width:  100%;
  border-radius: 50%;
}
.connect-icons {
  max-height: 50px;
  max-width: 50px;
}
.connect-icon {
  max-width: 60px;
  max-height: 60px;
}
span.icon-bar:hover {
  background-color: #11FFDF;
}
section#project-container {
  position: relative;
  min-height: 420px;
  max-width: 1000px;
  margin: 0 auto;
  display: block;
  padding: 10px;
  text-align: center;
}
section#project-container .row div.card-container {
  width: 50%;
  /*margin-right: 0;*/
  float: left;
  box-sizing: border-box;
  display: block;
}
div.card-container {
  border: 1px solid #ebebeb;
}
#first-project {
  margin-left: -30px;
  margin-right: 20px;
}
.card.large .card-content {
  height: 170px;
}
.card .card-content {
  padding: 20px;
  border-radius: 2px;
  p {
    font-size: 15px;
  }
}
.card .card-image img {
  min-height: 220px;
  max-height: 220px;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
div#project-picture-container{
  display: block;
}
div.card-action {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #ebebeb;
  padding: 20px;
  text-align: center;

}
.card-action a {
  text-align: center;
  font-weight: 900;
  margin-right: 30px;
  font-size: 20px;
  text-transform: uppercase;
}
@media only screen and (max-device-width: 736px) and (max-device-width: 480px){
    div.card-large {
      height: 600px !important;
    }
    div.action {
      margin-top: 50%;
    }
  }
