<div class="container" id="about-container">
  <h3>Get to know me:</h3>
  <p>I recently graduated from St. Lawrence University in 2013. After graduating, I spent some time in the non-profit world. I started out as a teacher at the New England Center for Children, a residential school for children with autism, prior to becoming the Office & Database Manager for a small nonprofit organization, the LuMind Foundation, which focuses on raising funds for Down Syndrome cognition research. I transitioned into the Web Development field in January and spent three months as a student in the Web Development Immersive at General Assembly. I am currently happily employed at Houghton Mifflin Harcourt working on their Curious World project.</p>
  <p> My hobbies include boxing, hiking, rock climbing, skiing, reading, and cooking. You can usually find me curled up in an armchair reading at the Boston Public Library or boxing at Beacon Hill Athletics Club in Brighton, MA.</p>
  <br>
  <h3>Connect with me:</h3>
  <a href="http://github.com/asbren13"><img class="connect-icons" src="/images/github.svg"></a>
  <a href="http://linkedin.com/in/ashlinnbrennan"><img class="connect-icon" src="/images/linkedin.png"></a>
  <a href="http://instagram.com/abrennan90"><img class="connect-icons" src="/images/instagram.jpg"></a>
  <a href="http://twitter.com/ashlinnbrennan"><img class="connect-icons" src="/images/twitter.png"></a>
</div>
