<div class="container" id="form-container">
  <h3>Send me an <a href="mailto:asbren13@gmail.com">e-mail</a> or reach out to me with the below form!</h3>
  <form>
    <label> Name<input class="form-control" type="text" name="" value="" placeholder=""></label><br>
    <label> Email<input class="form-control" type="email" name="" value="" placeholder=""></label><br>
    <label>Message<textarea class="form-control" name=""></textarea></label><br>
    <button class="btn btn-primary"type="">Submit</button>
  </form>
  <br>
</div>
