 <div class="container" id="home-container">
<!-- <img src="/images/headshot1.png" class="headshot"> -->
  <h1>Welcome!</h1>
  <h2>This site is currently under construction.</h2><br>
  <h4> In the meantime, check out the <a href="#/about">about</a> page to learn more about me, or go to the <a href="#/contact">contact</a> page to get in touch!</h4><br>
<!--    <h3>Projects</h3>
  <h4>Check out my projects listed below! I have included the deployed versions of the apps as well as the github links for the code</h4> -->
</div>
<!--
<div class="container" id="project-picture-container">
  <figure class="project-picture-container">
    <img class="project-pictures" src="images/Destressify.png">
    <div class="captions">
      <figcaption class="ind-caption"><a href="http://asbren13.github.io/front_end_project"><h4>Deployed</a> | <a href="https://github.com/asbren13/front_end_project">GitHub</h4></a></figcaption>
    </div>
  </figure>
  <figure class="project-picture-container">
    <img class="project-pictures" src="images/Fueling-Wanderlust.png">
    <div class="captions">
      <figcaption class="ind-caption"><a href="http://fueling-wanderlust.herokuapp.com"><h4>Deployed</a> |  <a href="https://github.com/asbren13/fueling_wanderlust_app">GitHub</h4></a></figcaption>
    </div>
  </figure>
</div>
 -->
